template(name='organizations')

	ul

		li

			a(href='#') {{_tree.title}}

			if _tree.children

				ul

					each _tree.children

						+organizationItem

template(name='organizationItem')

	li

		a.ui-show-invisible-on-hover(href='#') {{title}}

			a.ui-mgl.ui-invisible.method-add(href='#') 添加

		if children

			ul
				each children

					+organizationItem

template(name='organizationsAdd')

	+quickForm collection='Organizations' id='organizationsAddForm' type='insert' omitFields='init,parentId'

template(name='organizationsUpdate')

	+quickForm collection='Organizations' doc=this id='organizationsUpdateForm' type='update' omitFields='init,parentId'
