template(name='organizations')

	input.method-search(type='search' placeholder='搜索')

	ul

		li

			a.ui-show-invisible-on-hover(href='#') {{root.title}}

				a.ui-mgl.ui-invisible.method-add(href='#') 增设

				a.ui-mgl.ui-invisible(href='{{pathFor route="organizationsUpdate" data=root}}') 编辑

			if root.children

				ul

					each root.children

						+organizationItem

template(name='organizationItem')

	li

		a.ui-show-invisible-on-hover(href='#') {{title}}

			a.ui-mgl.ui-invisible.method-add-organization(href='#') 新增机构

			a.ui-mgl.ui-invisible.method-add-user(href='#') 新增用户

			a.ui-mgl.ui-invisible(href='{{pathFor route="organizationsUpdate"}}') 编辑

			+removeLink class='ui-mgl ui-invisible method-remove' method='organizationsRemove'

		if children

			ul
				each children

					+organizationItem

template(name='organizationsAdd')

	+quickForm collection='Organizations' id='organizationsAddForm' type='insert' omitFields='init,parentId,ancestors'

template(name='organizationsUpdate')

	+quickForm collection='Organizations' doc=this id='organizationsUpdateForm' type='update' omitFields='init,parentId,ancestors'
