template(name='organizations')

	+tableDefault

		thead

			tr

				th 组织机构名称

				th 操作

		tbody

			each organizations

				tr

					td {{title}}

					td
						a(href='{{pathFor route="organizationsUpdate"}}') 编辑
						+removeBtn method='organizationsRemove'

template(name='organizationsAdd')

	+quickForm collection='Organizations' id='organizationsAddForm' type='insert'

template(name='organizationsUpdate')

	+quickForm collection='Organizations' doc=this id='organizationsUpdateForm' type='update'
