template(name='organizations')

	ul

		li

			a.ui-show-invisible-on-hover(href='#') {{_tree.title}}

				a.ui-mgl.ui-invisible.method-add(href='#') 增设

				a.ui-mgl.ui-invisible(href='{{pathFor route="organizationsUpdate" data=_tree}}') 编辑

			if _tree.children

				ul

					each _tree.children

						+organizationItem

template(name='organizationItem')

	li

		a.ui-show-invisible-on-hover(href='#') {{title}}

			a.ui-mgl.ui-invisible.method-add(href='#') 增设

			a.ui-mgl.ui-invisible(href='{{pathFor route="organizationsUpdate"}}') 编辑

			+removeLink class='ui-mgl ui-invisible method-remove' method='organizationsRemove'

		if children

			ul
				each children

					+organizationItem

template(name='organizationsAdd')

	+quickForm collection='Organizations' id='organizationsAddForm' type='insert' omitFields='init,parentId'

template(name='organizationsUpdate')

	+quickForm collection='Organizations' doc=this id='organizationsUpdateForm' type='update' omitFields='init,parentId'
